/* Styling for SkillList component */

.SkillList-container {
    width: 80%;
    margin: auto;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}

.skill-card {
    width: 40%;
    background-color: whitesmoke;
    padding: 20px;
    border: 4px solid #20720D;
    margin: 20px;
}

.SkillCard-heading {
    font-family: 'PT Serif', serif;
}

.SkillList-heading {
    margin: auto;
    width: 20%;
    text-align: center;
    color: #20720D;
    font-family: 'PT Serif', serif;
}

.SkillModal-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.input-pair {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.SkillModal-inputs {
    width: 100%;
}

.SkillEdit-inputs {
    width: 100%;
}

.SkillModal-name, .SkillModal-description {
    width: 70%;
}

